<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaBibliografiaUTMACH.Properties.Settings.UtmachBibliografiaConnectionString"
            connectionString="Data Source=DESKTOP-124BMP9;Initial Catalog=UtmachBibliografia;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>